@font-face {
  font-family: 'montserrat';
  src: url('./fontes/montserrat-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'antonioregular';
  src: url('./fontes/antonio-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* */ 

:root {
  font-family: "montserrat", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --padding-lados: clamp(15px, 20% - 100px, 400px);
  --barra-superior-altura: 12vh;
  --apresentaca-altura: 7vh;
  --footer-altura: 6vh;
  --img-altura: calc(100vh - var(--barra-superior-altura) - var(--apresentaca-altura) - var(--footer-altura));
}

input, textarea, button {
  font-family: inherit
}

.wrapper-superior {
  min-height: var(--barra-superior-altura);
}

.barra-superior {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  min-height: var(--barra-superior-altura);
  padding: 30px var(--padding-lados);
  background-color: #ffa500;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.barra-superior > search {
  flex: 2;
}

.logo {
  margin-right: 90px;
  height: 48px;
  cursor: pointer;
}

form.pesquisa {
  position: relative;
  display: flex;
  align-items: center;
  max-width: fit-content;
}

#barra-pesquisa {
  border: solid #15447A 2px;
  border-radius: 7px;
  box-shadow: 3px 3px 10px #C78100; 
  background-color: #ffa500;
  min-height: 40px;
  min-width: 30vw;
  font-size: 18px;
}

#barra-pesquisa::placeholder {
  color: #555;
}

#barra-pesquisa:focus, #barra-pesquisa:hover {
  outline: solid #15447A 2px;
  background-color: #ffc251;
}



.botao-pesquisa {
  position: absolute;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.botao-pesquisa > img {
  width: 20px;
}

.menu-container {
  display: flex;
  justify-content: right;
}



.menu-container > button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 22px;
  min-width: 95px;
  cursor: pointer;
  
}

.menu-hover:hover {
  transform: scale(1.1, 1.1);
  transition: transform 0.3s ease-in-out;
}

.menu-container > button > img {
  width: 30px;
}


.abrir-hamburguer {
  animation: abrir-hamburguer 0.45s ease-out 0s 1 normal forwards;
}

.fechar-hamburguer {
  animation: fechar-hamburguer 0.45s ease-in 0s 1 normal forwards;
}

.abrir-menu {
  transform: scale(1);
  transition: transform 0.45s ease-out;
}

.fechar-menu {
  transform: scale(0);
  transition: transform 0.45s ease-in;
}


@keyframes abrir-hamburguer {
  from {
    transform: scale(0) rotateZ(90deg);
  }

  50% {
    transform: scale(0.8);
  }

  to {
    transform: rotateZ(0);
  }
}

@keyframes fechar-hamburguer {
  from {
    transform: scale(1) rotateZ(0);
  }

  50% {
    transform: scale(0.8) rotateZ(90deg);
  }

  to {
    transform: scale(0) rotateZ(90deg);
  }
}

.side-nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  transform-origin: right;
  height: 100%;
  transform: translateX(100%);
  min-width: 300px;
  background-color: #15447A;
  padding: 20px;
}

#fechar-side-nav {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.abrir-side-nav {
  transform: translateX(0);
  transition: transform 0.45s 0s cubic-bezier(0, 0, 0.15, 1);
}

.fechar-side-nav {
  transform: translateX(100%);
  transition: transform 0.45s 0s cubic-bezier(0.6, 0, 1, 1);
}

#side-list {
  margin-top: 70px;
}

#side-list > li {
  padding: 30px 0;
  border-bottom: 1px solid #999;
}

#side-list a {
  text-decoration: none;
  color: #ddd;
  font-size: 22px;
}

.apresentacao {
  padding: 10px var(--padding-lados);
  display: grid;
  grid-template-columns: 5fr 1fr;
  justify-content: center;
  align-items: center;
  min-height: var(--apresentaca-altura);
  background-color: #15447A;
}

h1 {
  font-family: "antonioregular";
  font-size: 40px;
  color: white;
  margin-right: 50px;
}

.icone-grupo {
  justify-self: right;
}

.icone-grupo > a {
  margin-left: 20px;
}

.icone {
  width: 25px;
}

.icone-grupo .icone {
  transition: transform 0.3s ease-in-out;
}

.icone-grupo .icone:hover {
  transform: scale(1.2);
}

.primeira-secao {
  position: relative;
}

#frame {
  display: flex;
  position: relative;
  max-width: 100vw;
  overflow: hidden;
  max-height: var(--img-altura);
}

#img-grupo {
  will-change: transform;
  display: flex;
  z-index: -1;
}

.img-grupo-transition {
  transition: transform 0.6s ease-in-out;
}

#frame picture {
  
}

.imagens-carrossel {
  
}

.imagens-carrossel > img {
  display: block;
  margin-top: -6vw;
}

#frame > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 18px;
  align-self: center;
}

#frame > button:nth-of-type(1) {
  position: absolute;
  left: 0;
}

#frame > button:nth-of-type(2) {
  position: absolute;
  right: 0;

}

#frame > button > img {
  min-width: 40px;
}

#botoes-carrossel {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 2vw;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
}

.botao-carrossel {
  height: 15px;
  width: 26px;
  border: none;
  border-radius: 6px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.selecionado {
  background-color: #ffa500;
  transform: scale(1.3, 1.3);
}

#info {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: calc(3vw + 30px);
  left: 50%;
  transform: translateX(-50%);
  border-top: solid 8px #ffa500;
  border-radius: 5px;
  padding: 30px 40px;
  background-color: #000a;
  min-width: 500px;
  z-index: 1;
}

.mudar-info {
  animation: mudar-info 0.6s ease-in-out normal forwards;
}

@keyframes mudar-info {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#info > span {
  color: white;
}

#info > span:nth-child(1) {
  margin-bottom: 20px;
  font-family: 'antonioregular';
  font-size: 40px;
}

#info > span:not(:nth-child(1)) {
  margin-bottom: 10px;
  font-size: 18px;
}


.segunda-secao {

}

section {
  overflow-x: hidden;
}

section:nth-of-type(n + 2) {
  background-color: #ddd;
}

.barra {
  padding: 20px 0;
  background-color: #15447A;
}

.segunda-secao {
  padding-top: 50px
}


h2 {
  font-family: "antonioregular", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
}

.infos {
  display: flex;
  border-top: solid white 30px;
  border-bottom: solid white 30px;
  background-color: white;
}


.imagem-section{
  max-width: 700px;
  object-fit: contain;
}

.bloco {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(10vw - 50px);
}

.bloco > h2 {
  font-size: clamp(25px, 2vw, 40px);
}

.bloco > p {
  font-size: clamp(14px, 1vw, 22px);
  line-height: 30px;
}

.bloco > button {
  border: none;
  border-radius: 8px;
  background-color: #15447A;
  padding: 10px 5px;
  max-width: clamp(100px, 20vw, 200px);
  font-size: clamp(13px, 2vw, 22px);
  color: white;
  transition: background-color 0.15s linear;
}

.bloco > button:focus, .bloco > button:hover {
  background-color: #1c61b1;
}

.escondido-esq {
  transform: translateX(-100%);
  transition: transform 0.75s ease-out;
}

.escondido-dir {
  transform: translateX(100%);
  transition: transform 0.75s ease-out;
}

.mostrar {
  transform: translateX(0%);
}

.triangulo1 {
  margin-top: 130px;
  width: 0;
  height: 0;
  border-bottom: 50px solid #15447A;
  border-right: 100vw solid transparent;
}

.barra:nth-of-type(3) {
  margin-bottom: 150px;
}

.triangulo2 {
  width: 0;
  height: 0;
  border-bottom: 50px solid #15447A;
  border-left: 100vw solid transparent;
}

.icone-grande {
  width: 30px;
}

footer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: calc(var(--footer-altura) + 20px);
  background-color: #ffa500;
}

.footer-fixed {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  height: var(--footer-altura);
  width: 100vw;
  padding: 15px 5px;
  background-color: #15447A;
  color: white;
}

.footer-fixed > div {
  display: flex;
  align-items: center;
}

.footer-fixed h3 {
  font-size: clamp(18px, calc(2vw), 30px);
  margin-right: 50px;
  font-weight: bold;
}

.footer-fixed > div > div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 70px;
}


.footer-fixed > div > div > span:nth-child(1) {
  font-size: 13px;
}

.footer-fixed > div > div > span:nth-child(2) {
  font-weight: bold;
}

.footer-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: 4fr 5fr;
  color: #15447A;
  padding: 0 100px;
}


.info-footer {
  flex-direction: column;
  grid-column: 1;
}

.logo-2 {
  width: 200px;
  margin-bottom: 50px;
}

.info-footer p {
  margin-bottom: 30px;
  max-width: 400px;
}

.info-footer span {
  white-space: pre-line;
}
