#container-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  row-gap: 30px;
  column-gap: 5px;
  margin: 50px calc(9vw - 50px);
  align-items: center;
  justify-items: center;
  cursor: pointer;
}

.card {
  max-width: 400px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  box-shadow: 2px 2px 12px #15447A;
}

.img-card {
  min-width: 350px;
  max-height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.preco {
  font-weight: bold;
}

.segunda-secao > h2 {
  text-align: center;
  font-size: 30px;
}

.info-imovel {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.info-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favoritar {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.coracao, .coracao-preenchido {
  position: relative;
}

.coracao {
  transform: translateX(100%);
}

.coracao-preenchido {
  transform:  scale(0);
  transition: transform 0.15s ease-out;
}



.preencher {
  transform: scale(1);
}

.extras {
  color: #666;
  font-size: 11px;
  margin-bottom: 6px;
}

.localizacao {
  margin-bottom: 15px;
}

.div-icones {
  display: flex;
  justify-content: space-around;
  min-width: 45px;
}

.icones-imoveis {
  width: 22px;
}

.icone-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icone-info > span {
  font-size: 12px;
}

.carregar-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carregando {
  position: absolute;
  width: 36px;
}

#carregar {
  max-width: 170px;
  border: none;
  border-radius: 8px;
  background-color: #15447A;
  color: white;
  padding: 15px 15px 11px 15px;
  font-family: "antonioregular";
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.15s linear;
}

#carregar:hover {
  background-color: #1c61b1;
}

.esconder-carregar {
  opacity: 0;
}

.animar-loading {
  animation: loading 0.6s linear infinite;
}

@keyframes loading {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

